.info-elements {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  img {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .address {
    padding: 20px;
  }
}

.travel-elements {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  .travel-info {
    margin-bottom: 30px;
    padding: 30px;
  }
  #map {
    width: 100%;
  }
  .mapboxgl-canvas {
    position: relative;
    align-items: center;
  }
}

.gifts-elements {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .gifts-info {
    margin-top: 30px;
    padding: 30px;
    width: 100%;
  }
  img {
    width: 100%;
  }
  .contact {
    text-align: bottom;
  }
}



section > canvas {
    z-index: 0;
    position: absolute;
    left: 0;
}

section > * {
    z-index: 9;
    position: relative;
    top: 0;
  }

  .header {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
