.info-elements {
  width: 960px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  img {
    // padding: 20px;
    width: 570px;
    margin-top: 30px;
    position: relative;
    right: 130px;
    margin-bottom: 50px;
  }
  .address {
    padding: 20px;
  }
}

.travel-elements {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .travel-info {
    position: relative;
    left: 40px;
  }
}

.gifts-elements {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  .gifts-info {
    position: relative;
    right: 40px;
    top: 30px;
    width: 50% !important;
  }
  img {
    width: 85%;
    position: relative;
    left: 30px;
  }
  .contact {
    text-align: bottom;
  }
}



section > canvas {
    z-index: 0;
    position: absolute;
    left: 0;
}

section > * {
    z-index: 9;
    position: relative;
    top: 0;
  }

  .header {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
