.info-elements {
  width: 960px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  #map {
    padding: 50px;
    margin-top: 20px;
  }
  .address {
    padding: 50px;
  }
}

section > canvas {
    z-index: 0;
    position: absolute;
    left: 0;
}

section > * {
    z-index: 9;
    position: relative;
    top: 0;
  }

  .header {
    margin-top: 20px;
    text-align: center;
  }
