<div class="container">
  <div class="header">
    <h1>Gifts</h1>
  </div>
  <div class="info-elements row">

    <img class="col-sm-12 col-lg-6" src="/assets/nancy_bruno.jpeg" alt="">

    <div class="address col-sm-12 col-lg-6">
      <h4>Your presence at our wedding is enough of a gift!</h4>
      <br>
      <h4>However, if you would like to make a donation towards our honeymoon fund we would be very grateful.</h4>
      <br>
      <h4>We will be going on our honeymoon to Italy in 2022!</h4>
    </div>

   </div>
</div>


<!--   <div class="header">
    <h1>Gifts</h1>
  </div>
  <div class="gift-elements">

    <div class="gift-image">

    </div>

    <div class="paypal col-12 col-lg-6">
      <
    </div>
  </div>
</div>
 -->
