<div class="container">
  <div class="home-elements row justify-content-center">
    <div class="home-text col-12 col-lg-6">
      <div class="title">
        <h3>Join us to celebrate our marriage!</h3>
      </div>
      <div class="names">
        <h1>Tom and Ruby</h1>
        <h3>Saturday 17th July 2021</h3>
      </div>
      <div class="button">
        <h5>Please RSVP by 31st May</h5>
        <br>
        <p><%= link_to 'RSVP', wedding_path(@wedding), class: "btn btn-outline-primary" %></p>
      </div>
    </div>

    <div class="home-image col-12 col-lg-6">
      <%= image_tag "homepage_pic.jpg", alt: "alttext" %>
    </div>
  </div>
</div>

