<div class="container">
  <div class="header">
    <h1>Travel Information</h1>
  </div>
  <div class="info-elements row">


    <div class="address col-12 col-lg-6">
      <h6><strong>Throwley is a 10-15 minute taxi ride from Faversham or Charing train stations</strong></h6>
      <br>
      <h6><strong>Trains</strong></h6>
      <h6>London St Pancras to Faversham around 1 hour</h6>
      <h6>London Victoria to Faversham 1 hour 15 mins</h6>
      <h6>London St Pancras to Charing (change at Ashford) 50 minutes</h6>
      <h6>London Victoria to Charing around 1 hour 30 minutes</h6>
      <br>
      <h6><strong>Taxis must be booked in advance</strong></h6>
      <h6>Starlite Taxis: 01795 591066</h6>
      <h6>Reeves Taxis: 01795 536666</h6>
      <br>
      <h6>We are organising a coach from the wedding to London at the end of the evening. Please contact us as soon as possible if you are interested at tkandruby@gmail.com </h6>
    </div>

    <div class="col-12 col-lg-6" id="map"
     style="width: 500px; height: 500px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>


   </div>
</div>


