<% @rsvps.each do |rsvp| %>
<% if rsvp.attending == true %>
  <p><%= rsvp.name %></p>
  <% end %>
<% end %>

<%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
