<div class="container">
  <div class="header">
    <h1>Wedding Info</h1>
  </div>
  <div class="info-elements row">

    <div class="col-12 col-lg-6" id="map"
     style="width: 500px; height: 500px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
     </div>

    <div class="address col-12 col-lg-6">
      <h1>Saturday 17th July 2021</h1>
      <br>
      <h3>Bells Forstal Farm</h3>
      <h3>Throwley</h3>
      <h3>Faversham</h3>
      <h3>Kent</h3>
      <h3>ME13 0JS</h3>
      <br>
      <%= render 'shared/modal' %>
    </div>

   </div>
</div>


