<div class="container">
  <div class="header">
    <h1>Wedding Information</h1>
  </div>
  <div class="info-elements row justify-content-center">

    <div class="wedding-image col-12 col-lg-6">
      <%= image_tag "garden.jpg", alt: "alttext" %>
    </div>

    <div class="address col-12 col-lg-6">
      <h1>Saturday 17th July 2021</h1>
      <br>
      <h3>Bells Forstal Farm</h3>
      <h3>Throwley</h3>
      <h3>Faversham</h3>
      <h3>Kent</h3>
      <h3>ME13 0JS</h3>
      <br>
      <%= render 'shared/modal' %>
    </div>

   </div>
</div>


