.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid #ff5757;
}

.navbar-brand {
  margin-left: 30px;
}

.navbar-light .navbar-brand {
  color: #ff5757;
  font-size: 15px;
  opacity: 0.7
}

.navbar-light .navbar-brand:hover {
    color: #ff5757;
    opacity: 1;
  }


.dropdown-toggle {
  margin-right: 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
